# Next.js
.next/
out/

# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next-dev*.log

# TypeScript
tsconfig.tsbuildinfo

# Sistema operacional
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.temp

# Markdown, somente se você realmente não quiser versionar nenhum .md
# *.md